.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #1f717f;
    color: white;
}

.state {
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
}
